/**
 * Summary cards
 */

.summary-cards {
	position: relative;
	container-type: inline-size;
	--card-padding: 10px;
}

.summary-cards .card {
	background-color: var(--background-primary-alt);
	border: 1px solid var(--background-modifier-border);
	padding: var(--card-padding);
	word-wrap: break-word;
	overflow-y: hidden;
	width: calc(50% - 10px);
	margin: 0 0 20px;
}

.summary-cards .card {
	font-size: 0.8rem;
}

.summary-cards .card p,
.summary-cards .card ul {
	margin: 0.3rem 0;
}

.summary-cards .card h1,
.summary-cards .card h2,
.summary-cards .card h3 {
	margin: 0 0 0.3rem;
}

.summary-cards .card ul {
	padding-left: 20px;
}

@container (min-width: 768px) {
	.summary-cards .card {
		width: calc(33.33% - 14px);
	}
}

@container (min-width: 1024px) {
	.summary-cards .card {
		width: calc(25% - 16px);
	}
}

.summary-cards .card:hover {
	border-color: var(--background-modifier-border-hover);
}

.summary-cards .card h3 {
	word-wrap: break-word;
}

.summary-cards .card .card-info {
	margin: calc(-1 * var(--card-padding));
	margin-top: 0;
	border-top: 1px solid var(--background-modifier-border);
	padding: calc(0.5 * var(--card-padding)) var(--card-padding);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	gap: 5px;
}

.summary-cards .card .card-info .folder-name {
	flex-grow: 1;
}

.summary-cards .card .card-info button {
	border: none;
	box-shadow: none;
}
